.footer-background {
  background-color: #efefef;
}
#footer {
  padding: 80px 150px 60px 150px;
  font-family: "Noto Sans", sans-serif;

  .__box {
    padding-bottom: 10px;
    border-bottom: 1px solid #00000042;
  }
  div:nth-last-child(2) {
    border: none;
  }
  .__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -1.8px;
    margin: 0px;
  }
  .__sub-title {
    font-size: 23px;
    line-height: 3.13;
    letter-spacing: -0.69px;
    font-weight: 600;
  }
}
#copy-right {
  text-align: center;
  margin-top: 60px;
  opacity: 0.5;
}
