body {
  margin: 0;
  padding: 0;
}
div[id^="section-"],
div#footer,
div#header {
  max-width: 1170px;
  margin: auto;
}
.background-header {
  background-color: #dcdcdc;
}
#header {
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  ul {
    margin: 0px;
  }
  li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: {
      left: 10px;
      right: 10px;
    }
    &:hover {
      color: #ffffff;
      background-color: #111111;
    }
  }
}
