.background-menu {
  background-color: #0ad09a;
}
#section-menu {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  img {
    width: 141px;
    height: auto;
  }
}
.main-nav {
  display: inline-block;
  ul {
    margin: 0px;
  }
  li {
    display: inline-block;
    margin: {
      left: 30px;
      right: 20px;
    }
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: normal;
  }
}
.main-logo {
  display: inline-block;
}
