#section-1 {
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  img {
    width: 417px;
    height: 57px;
  }
  .__article-left {
    width: 45%;
    padding: {
      top: 200px;
      bottom: 130px;
    }
  }
  .__article-right {
    width: 55%;
    background-image: url("./../../assets/section-1/img_main@3x.png");
    background-size: 115% auto;
    background-repeat: no-repeat;
    // background-position: left center;
    background-position: -50px center;
  }
  .title-enjoy-learning-korea {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.11;
    letter-spacing: -5px;
    margin: 0px;
  }
  .content {
    color: #929292;
    font-size: 25px;
    letter-spacing: -0.75px;
  }
  .premium {
    font-size: 17px;
    padding: 3px 6px 3px 6px;
    margin: 0px 0px 10px 10px;
    border-radius: 3px;
    background-color: #ff4646;
    display: inline-block;
    color: white;
  }
  .pagination {
    float: right;
    padding-right: 50px;
    span {
      font-size: 20px;
      opacity: 0.5;
      &:first-of-type {
        font-size: 40px;
        // line-height: 6.1;
      }
    }
  }
}
