$phone-screen: 640px;
$color-border: red;
@mixin my-display($status) {
  display: flex;
  flex-direction: $status;
}
@function gridWidth($item) {
  @return 100% * $item/ 12;
}
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-gray {
  border: 2px solid gray;
}
// css for section 2
.background-section-2 {
  background-color: #71cec9;
  position: relative;
}
#section-2 {
  display: flex;
  justify-content: space-between;

  padding: {
    top: 75px;
    bottom: 75px;
  }
  .__article-left {
    width: 45%;
    position: relative;
    padding-left: 40px;
  }
  .__article-right {
    width: 55%;
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;
    padding: 210px 20px 0px 0px;
    .__title {
      font-size: 3.75rem;
      line-height: 1.2;
      letter-spacing: -1.8px;
    }
    .__description {
      font-size: 1.25rem;
      line-height: 1.75;
      letter-spacing: -0.85px;
    }
  }
}
#iphone {
  width: 444px;
  height: 723px;
  margin-left: 20px;
}
#mind {
  width: 181px;
  height: 104px;
  position: absolute;
  top: 298px;
  left: 0px;
}
#point {
  width: 195px;
  height: 83px;
  position: absolute;
  top: 254px;
  left: 275px;
}
#shadowing {
  width: 260px;
  height: 163px;
  position: absolute;
  top: 358px;
  left: 230px;
}
#rectangle {
  background-color: #51b0ab;
  width: 60%;
  height: 481px;
  opacity: 0.6;
  border-radius: 241px;
  position: absolute;
  top: 195px;
  left: -250px;
}

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: $phone-screen) {
  .background-section-2 {
    width: 100%;
    * {
      box-sizing: border-box;
    }
  }
  #section-2 {
    @include my-display(column);
    padding: 0px 30px 0px 30px;
    .__article-right {
      width: 100%;
      padding: 0px 0px 100px 0px;
    }
    .__article-left {
      // width: 85%;
      width: gridWidth(11);
      margin: auto;
    }
  }
}
