$phone-screen: 640px;
#section-3 {
  display: flex;
  flex-direction: row;

  .__article-left {
    width: 40%;
    padding: 240px 0px 240px 10px;
    .__title {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: -1.8px;
      color: #000000;
    }
    .__description {
      font-size: 20px;
      line-height: 1.75;
      letter-spacing: -0.6px;
      color: #929292;
    }
  }
  .__article-right {
    width: 60%;
    padding-top: 40px;
  }
}
.store-mobile {
  //box
  display: inline-block;
  border-radius: 6px;
  padding: 8px 15px 8px 15px;
  margin: 5px;
  border: solid 1px #929292;
  //text
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: -0.18px;
  color: #929292;
  i {
    margin-right: 5px;
  }
}
.group_11 {
  width: 100%;
  height: 100%;

  background-image: url(./../../assets/section-3/Group11@3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0 120px 80px -10px white,
    //only shadow top inside
    inset 0 -310px 80px -10px #fffffff5; //only shadow bottom inside
}
@media only screen and (max-width: $phone-screen) {
  #section-3 {
    * {
      box-sizing: border-box;
    }
    display: flex;
    flex-direction: column;
    .__article-right {
      width: 100%;
    }
    .__article-left {
      width: 100%;
    }
  }
}
